body{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100vw;
}
h1{
    margin: 0 6vw;
}
nav{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

section{
    display: grid;
    grid-template-columns: repeat(16, 3vw);
    grid-template-rows: repeat(16, 5.5vh);
    grid-gap: 1px;
}
section div{
    align-items: center;
    background-color: saddlebrown;
    border: 1px solid black;
    border-radius: 8px 8px 8px 8px;
    display: flex;
    justify-content: center;
}

section div img{
    height: 100%;
    width: 100%;
}
.parede{
    background-color: black;
}